#timeline-navbar {
	margin-top: 35px;
}
#timeline {
	background: url(http://dummyimage.com/1x1/000000/000000.gif) top center repeat-y;
	width: 625px;
	padding: 50px 0;
	margin: 0 auto;
	overflow: hidden;
	list-style: none;
	position: relative;
}
#timeline li {
	background-color: #F5F5F5;
	border-radius: 4px 4px 4px 4px;
	border: 1px solid #E3E3E3;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
	clear: both;
	float: left;
	margin-bottom: 20px;
	min-height: 20px;
	padding: 10px;
	position: relative;
	text-align: right;
	width: 250px;
}
#timeline li:before,
#timeline li:after {
	content: " ";
	width: 40px;
	height: 1px;
	background: #000;
	position: absolute;
	left: 100%;
	top: 50%;
	background-color: #000;
}
#timeline li:nth-of-type(odd),
#timeline li:nth-of-type(even) {
	margin: -10px 0 0 0;
}
#timeline li:nth-of-type(even) {
	float: right;
	text-align: left;
}
#timeline li:nth-of-type(even):after {
	background-color: #000;
	left: auto;
	right: 100%;
}
p.title, p.subtitle {
	margin: 0;
	padding: 0;
}
p.title {
	font-weight: bold;
}
#timeline time {
	color: #999999;
	font-size: 90%;
}
